:root {
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2d2d2d;
}

.h1 {
  font-family: Montserrat, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  text-shadow: 0px 1px 2px black, 1px 2px 3px black, 0px 0px 2px black, 1px 2px 3px black;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
}

a {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

a:hover {
  transition: all .3s ease;
  color: #c0c0c0;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.orange {
  color: #FF6600;
}

.fw200 {
  font-weight: 200;
}

.ta-center {
  text-align: center;
}

.mt20 {
  margin-top: 20px;
}

.button {
  text-transform: uppercase;
  padding: 20px 60px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #FF6600;
  text-align: center;
}

header {
  background-color: #f6f6f6;
}

.header {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  font-family: Inter, sans-serif;
  padding: 6px 0;
  justify-content: space-between;
  background-color: #2d2d2d;
  border-radius: 0 0 35px 35px;
  gap: 10px;
}

.header label {
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 20px;
}

.header .bar1,
.header .bar2,
.header .bar3 {
  width: 35px;
  height: 5px;
  background-color: #f6f6f6;
  margin: 6px 0;
  border-radius: 30px;
}

.header input[type="checkbox"] {
  display: none;
}

.header input[type="checkbox"]:checked+ul.menu,
.header input[type="checkbox"]:checked+ul.menu+ul.contacts {
  display: flex;
}

.header a.logo {
  display: flex;
  margin-left: 20px;
  max-width: fit-content;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header ul.logo {
  align-items: left;
}

.header ul.menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.header ul.contacts {
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  gap: 10px;
  margin-bottom: 10px;
}

.header ul.contacts a {
  display: flex;
  align-items: center;
}

.first-block {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 20px;
  gap: 20px;
  border-radius: 0 0 35px 35px;
}

.first-block .descriptor {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description {
  margin: 40px 0;
  display: flex;
  gap: 20px;
  align-items: center;
}

.work-from-home {
  display: flex;
  align-items: center;
}

.work-from-home img {
  width: 100%;
}

.first-block .advantages {
  display: grid;
  gap: 20px;
}

.first-block .advantage {
  padding: 25px 10px;
  color: #808080;
  background-color: #fff;
  text-align: center;
  align-content: center;
  font-size: 1rem;
  border-radius: 20px;
}

.why {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.why .text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.why .advantages {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 40px 0 20px 0;
}

.why .advantages .text {
  font-weight: 400;
}

.why .advantages .advantage {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 40px;
  padding: 25px;
}

.why .advantages .advantage .wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 12px;
}

.why .advantages .advantage .wrapper img {
  margin-left: auto;
}

.why .advantages .advantage .wrapper .number {
  font-size: 3rem;
  font-weight: 800;
}

.why .advantage-cards {
  display: grid;
  gap: 20px;
}

.why .advantage-cards .card {
  padding: 30px;
  background-color: #f6f6f6;
  border-radius: 40px;
}

.why .advantage-cards .card .title {
  font-weight: 600;
  margin-top: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 35px 35px 0 0;
}

footer h3 {
  color: #fff;
  text-align: center;
  margin: 0 35px;
}

footer .company {
  margin: 20px 0 40px 0;
  color: #fff;
}

footer .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

footer .menu a:not(:last-child):after {
  content: "";
}

footer .menu a {
  color: #808080;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
  }
}